<% provide(:title, @group.name) %>
<%= render 'group_details', group: @group %>
<% if policy(@group).view_pending_members? %>
  <% unless @group.requests.empty? %>
    <h2 class="group-requests h4">Requests</h2>
    <ul>
      <% @group.requests.each do |r| %>
        <% if policy(r.user).show? %>
          <li class="group-request">
            <%= link_to r.user.full_name, user_path(r.user) %>
            <% if policy(r).accept? %>
              (<%= link_to 'accept',
               group_membership_path(@group, r, update_action: 'accept'), method: :patch %><%= policy(r).destroy? ? ' / ' : ')' %>
           <% end %>
           <% if policy(r).destroy? %>
             <%= '(' unless policy(r).accept? %><%= link_to 'reject', group_membership_path(@group, r), method: :delete %>)
           <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% unless @group.invitations.empty? %>
    <h2 class="group-invitations h4">Invitations</h2>
    <ul>
      <% @group.invitations.each do |i| %>
        <% if policy(i.user).show? %>
          <li class="group-invitation">
            <%= link_to i.user.full_name, user_path(i.user) %>
            <% if policy(i).destroy? %>
              (<%= link_to 'rescind', group_membership_path(@group, i), method: :delete %>)
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
<hr style="border-color: #DDDDDD;" />
<% if @draw.allow_clipping? %>
  <h2>Clipping</h2>
  <% if @group.clip.present? %>
    <h3 class="clip-information h4">Your Clip</h3>
    <%= render 'clips/clip_details', clip: @group.clip %>
    <hr style="border-color: #DDDDDD;" />
  <% else %>
    <p>This group is not in a clip.<p>
    <% if @clip_invites.length.positive? %>
      <h3 class="clip-invites h4">Clip Invitations</h3>
      <ul>
        <% @clip_invites.each do |m| %>
          <li class="clip-invitation" id="clip-membership-<%= m.id %>">
            <%= link_to m.clip.name, clip_path(m.clip) if policy(m.clip).show? %>
            <% if policy(m).accept? %>
              (<%= link_to 'Accept Invitation', clip_membership_path(m), method: :patch %><%= policy(m).reject? ? ' / ' : ')' %>
            <% end %>
            <% if policy(m).reject? %>
              <%= '(' unless policy(m).accept? %><%= link_to 'Reject Invitation', clip_membership_path(m), method: :delete %>)
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to 'Create a Clip', new_group_clip_path(@group), class: 'button' %>
  <% end %>
  <hr style="border-color: #DDDDDD;" />
<% end %>
<div>
  <% if @membership.present? %>
    <%= link_to 'Accept Invitation', group_membership_path(@group, @membership, update_action: 'accept'), method: :patch, class: 'button' if policy(@membership).accept? %>
    <%= link_to 'Lock Membership', group_membership_path(@group, @membership, update_action: 'finalize'), method: :patch, class: 'button' if policy(@membership).finalize? %>
    <% if policy(@membership).destroy? %>
      <%= link_to 'Leave group', group_membership_path(@group, @membership), method: :delete, class: 'button alert' %>
    <% end %>
  <% end %>
  <%= link_to 'Edit', edit_draw_group_path(@draw, @group), class: 'button secondary' if policy(@group).edit? %>
  <%= link_to 'Request To Join', group_memberships_path(@group, create_action: 'request'), method: :post, class: 'button secondary' if policy(Membership.new(group: @group, user: current_user)).request_to_join? %>
  <%= link_to 'Invite Members', new_invite_group_path(@group), class: 'button secondary' if policy(Membership.new(group: @group, user: current_user)).create_invite? %>
  <%= link_to 'Begin Locking Process for Group', finalize_draw_group_path(@draw, @group), method: :put, data: { confirm: 'This will begin the process of confirming this housing group and cannot be undone. Are you sure you want to proceed?' }, class: 'button' if policy(@group).finalize? %>
  <%= link_to 'Lock Group', lock_draw_group_path(@draw, @group), method: :put, class: 'button alert' if policy(@group).lock? %>
  <%= link_to 'Unlock All Members', unlock_draw_group_path(@draw, @group), method: :put, class: 'button alert' if policy(@group).unlock? %>
  <% if @group.suite.present? && policy(SuiteAssignment.new(groups: [@group], draw: @group.draw)).new? %>
    <%= simple_form_for @group, url: group_suite_assignment_path(@group), method: :delete, html: { class: 'hidden-form' } do |f| %>
      <%= f.input :suite, as: :hidden, input_html: { value: '' } %>
      <%= f.submit 'Remove suite' %>
    <% end %>
  <% end %>
  <% if policy(RoomAssignment.from_group(@group)).new? %>
    <%= link_to 'Assign rooms', new_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <% if policy(RoomAssignment.from_group(@group)).edit? %>
    <%= link_to 'Edit room assignments', edit_group_room_assignment_path(@group), class: 'button' %>
  <% end %>
  <% if policy(@group).make_drawless? %>
    <%= link_to 'Make special group', make_drawless_draw_group_path(@draw, @group), method: :patch, data: { confirm: 'Are you sure you want to remove this group and its members from the draw?' },
      **with_tooltip(text: 'Remove this group and its members from the draw and convert it to a special group.', class_override: 'button alert') %>
  <% end %>
  <%= link_to('Disband', draw_group_path(@draw, @group), method: :delete, data: { confirm: 'Are you sure you want to disband this group?' }, class: 'button alert') if policy(@group).destroy? %>
</div>
<%= link_to 'Return to draw', draw_path(@draw) %>

<% content_for :sidebar do %>
  <h1 class="h3">Compatible Suites</h1>
  <h2 class="h4"><%= @same_size_groups_count %> <%= 'group'.pluralize(@same_size_groups_count) %> of size <%= @group.size %></h2>
  <h2 class="h4"><%= @compatible_suites_count %> available <%= size_str(@group.size).capitalize.pluralize(@compatible_suites_count) %></h2>
  <% unless @compatible_suites_count.zero? %>
    <%= render 'groups/suites_table', suites: @compatible_suites.group_by(&:building) %>
  <% end %>
<% end %>
